
<h4 align="center"> <%= @man.name.capitalize %>  </h4>


<% @man.each do |manager| %>
    <div class="row">
    
        <div class="col-md-8 col-md-offset-4">
            <h4> <%= link_to manager.name.capitalize, managers_path(manager) %></h4>
       
            
        </div>
            
           
      
       
    </div>
     
<% end %>