
<h4 align="center"> <%= @bugs.name.capitalize %>  </h4>


<% @bugs.each do |bug| %>
    <div class="row">
    
        <div class="col-md-8 col-md-offset-4">
            <h4> <%= link_to bug.name.capitalize, bug_path(bug) %></h4>
            <p>  <%= truncate(bug.description, length:100) %> </p>
            <br>
            </div>
            
           
      
       
    </div>
     
<% end %>