<div class="col-md-0 col-md-offset-12">
<%= link_to "Profile", users_path, class: "btn btn-xs btn-warning " %>
</div>
<h4 align="center"> <%= @bugs.name.capitalize %>  </h4>


<% @bugs.each do |bug| %>
    <!-- <% if current_user.id == bug.user_id %> -->
  		  <div class="row">
    
        <div class="col-md-8 col-md-offset-2">
            <h4> <%= link_to bug.name.capitalize, bug_path(bug) %></h4>
            <p>  <%= truncate(bug.description, length:100) %> </p>
            <br>
            </div>  
    </div>
<% end %>     
<% end %>