
<h4 align="center"> <%= @qas.name.capitalize %>  </h4>


<% @qas.each do |qa| %>
    <div class="row">
    
        <div class="col-md-8 col-md-offset-4">
            <h4> <%= link_to qa.name.capitalize, qa_path(qa) %></h4>
            <br>
            </div>
       
    </div>
     
<% end %>